<div class="wrapper">
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm" style="text-align: center">
      <button class="btn btn-round btn-warning" (click)="goToMenu()" style="margin-left:18px; margin-right: 18px">Menu</button>
      <button class="btn btn-round btn-warning" (click)="goToManageSpecialties()"
              style="margin-left:18px; margin-right: 18px;display: none">Filières
      </button>
      <button class="btn btn-round btn-warning" (click)="goToManageModules()" style="margin-right: 18px;display: none">Modules
      </button>
      <button class="btn btn-round btn-success" (click)="goToManageStudents()" style="margin-right: 18px">Etudiants
      </button>
      <button class="btn btn-round btn-warning" (click)="goToDeliberationsOfS1S1()" style="margin-right: 18px;display: none">
        Délibérations S1
      </button>
      <button class="btn btn-round btn-warning" (click)="goToDeliberationsOfS2S1()" style="margin-right: 18px;display: none">
        Délibérations S2
      </button>
      <button class="btn btn-round btn-warning" (click)="goToDeliberationsOfYear()" style="margin-right: 18px;display: none">
        Délibérations Annuelles
      </button>
      <button class="btn btn-round btn-warning" (click)="logout()" style="margin-right: 18px">Se déconnecter</button>
      <br><br>
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header" style="text-align: center">
              <h4 style="text-align: center" class="card-title">Ajouter un étudiant</h4><br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div style="text-align:center">
                      <select [(ngModel)]="specialityToImportStudents" name="speciality" style="text-align-last: center;width: 100%;background-color: transparent;border: 1px solid #E3E3E3;border-radius: 30px;color: #2c2c2c;font-size: 0.8571em;height: 40px;">
                        <option *ngFor="let item of specialities" [value]="item.id">
                          {{item.code+" - "+item.titre}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                  <button style="margin-top: 0px;" (click)="openFile()" class="btn btn-round btn-danger">Importer (XLS)
                    <input id="xlsFileToBeUploaded" type="file" style="display:none" (change)="handle($event)">
                  </button>
                  </div>
                </div>
              </div>
              <div style="display: none">
                <img width="340px" src="assets/img/logo.svg">
              </div>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <label style="text-align: center">Numéro :</label>
                        <input style="text-align: center" type="text" class="form-control"
                               [(ngModel)]="number"
                               name="number">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <label style="text-align: center">Nom :</label>
                        <input style="text-align: center" type="text" class="form-control"
                               [(ngModel)]="last"
                               name="last">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <label style="text-align: center">Prénom :</label>
                        <input style="text-align: center" type="text" class="form-control"
                               [(ngModel)]="first"
                               name="first">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <label style="text-align: center">Date de naissance :</label>
                        <input style="text-align: center" type="text" class="form-control"
                               [(ngModel)]="birth"
                               name="birth">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <div style="text-align:center">
                        <label>Filière :</label>
                        <select [(ngModel)]="specialityToAddStudent" name="speciality" style="text-align-last: center;width: 100%;background-color: transparent;border: 1px solid #E3E3E3;border-radius: 30px;color: #2c2c2c;font-size: 0.8571em;height: 40px;">
                          <option *ngFor="let item of specialities" [value]="item.id">
                            {{item.code+" - "+item.titre}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" style="text-align: center">
                    <div class="form-group">
                      <button type="button" class="btn btn-primary btn-round" (click)="addItem()">Ajouter</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h4 style="text-align: center" class="card-title">Liste des étudiants</h4><br>
              <div class="col-md-12">
                <div class="form-group">
                  <div style="text-align:center">
                    <label>Veuillez choisir une filière pour afficher les étudiants :</label>
                    <select (change)="getStudents(specialityToListStudents)" [(ngModel)]="specialityToListStudents" name="speciality" style="text-align-last: center;width: 100%;background-color: transparent;border: 1px solid #E3E3E3;border-radius: 30px;color: #2c2c2c;font-size: 0.8571em;height: 40px;">
                      <option *ngFor="let item of specialities" [value]="item.code">
                        {{item.code+" - "+item.titre}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="height: 420px">
                <table *ngIf="this.body.students.length>0 else empty" class="table">
                  <thead class="text-primary">
                  <tr>
                    <th style="text-align: center">Id</th>
                    <th style="text-align: center">Numéro</th>
                    <th style="text-align: center">Nom</th>
                    <th style="text-align: center">Prénom</th>
                    <th style="text-align: center">Sexe</th>
                    <th style="text-align: center">Date de naissance</th>
                    <th style="text-align: center">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of this.body.students; let i = index">
                    <td style="text-align: center">{{i+1}}</td>
                    <td style="text-align: center">{{item.numero}}</td>
                    <td style="text-align: center">{{item.nom}}</td>
                    <td style="text-align: center">{{item.prenom}}</td>
                    <td style="text-align: center">{{genders[i]}}</td>
                    <td style="text-align: center">{{item.dateNaissance}}</td>
                    <td style="text-align: center; display: flex">
                      <button (click)="deleteItem(item.numero)" data-toggle="tooltip" data-placement="top"
                              title="Supprimer" style="margin-right: 8px;"
                              class="btn btn-danger btn-icon btn-round"><i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                      <button (click)="UpdateItem(item.numero)" data-toggle="tooltip" data-placement="top"
                              title="Mettre à jour" style="margin-right: 8px;"
                              class="btn btn-danger btn-icon btn-round"><i class="now-ui-icons ui-1_check"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <ng-template #empty>
                  <div>
                    <p style="text-align: center">Veuillez choisir une filière pour afficher les étudiants !</p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
